<!DOCTYPE html>
<html lang="bg" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:replace="fragments/navbar"></th:block>
    </header>
    <main class="mt-3" th:with="lang = ${#locale.toString().equals('en_US') ? 'bg' : 'en_US'}">
        <h1 class="text-dark" th:text="#{message.greeting}"></h1>
        <h2 class="text-muted" th:text="#{message.content}"></h2>
        <form class="mt-5" th:action="@{/greeting}" th:method="GET">
            <input type="hidden" th:value="${lang}" name="lang">
            <button type="submit" id="toggleLangButton">Toggle Language</button>
        </form>
    </main>
    <footer class="footer mt-1 p-3 bg-eventures">
        <div class="container-fluid">
            <div class="text-muted container-fluid text-center">&copy; CopyRight Eventures Inc 2018-2018. All rights
                reserved.
            </div>
        </div>
    </footer>
</div>
</body>
</html>